
/* Your CSS Code here. */
.holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
}

.item-1 {
  width: 100px;
  height: 100px;
  background-color: red;
}
